/* Общий контейнер */
.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; /* Выравниваем содержимое по верху */
  height: 100vh;
  padding: 200px 0px; /* Убираем отрицательный padding */
  color: var(--text-color);
}

/* Основной контент */
.about-content {
  display: flex;
  max-width: 1600px;
  width: 100%;
  gap: 50px;
  align-items: flex-start; /* Выравниваем элементы внутри */
}

/* Фото профиля */
.profile-photo {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 160px; /* Оставляем левый отступ */
}

.profile-photo img {
  width: 100%;
  height: auto;
}

/* Текстовый блок */
.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Выравниваем текст по верху */
  margin-top: 0px; /* Убираем ненужный отступ */
}

/* Заголовок */
.about-text h1 {
  font-size: 26px;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 0; /* Убираем отступ */
}

/* Обычный текст */
.about-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 8px;
}

/* Заголовки секций */
h2 {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
}

/* Интересы */
.interests, .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 10px;
}

.interest-item, .skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.interest-item img, .skill-item img {
  width: 42px;
  height: 48px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .profile-photo {
    width: 200px;
    height: 200px;
    margin-left: 0;
  }

  .about-text h1 {
    font-size: 22px;
  }

  .about-text p {
    font-size: 16px;
  }

  .interests,
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
