.archive-container {
  margin: 0 auto;
  padding: 60px 160px;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}

/* Таблица */
.archive-table {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 100%;
  background: none;
  position: relative;
  z-index: 1; 
  font-size: 18px;
}

/* Заголовок */
.table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 20px;
  padding: 16px 0;
  font-weight: bold;
  font-size: 20px;
}

/* Стилизация ячеек заголовка */
.header-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-item img {
  order: 1;
}

.sort-icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sort-icon:hover {
  transform: scale(1.1);
}

/* Строки таблицы */
.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 20px;
  padding: 10px 0;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

/* Подсветка при наведении */
.table-row:hover {
  background: var(--text-color);
  color: var(--bg-color);
}

/* Активное состояние строки */
.project-container.active .table-row {
  background: var(--text-color);
  color: var(--bg-color);
}

/* Выпадающее описание */
.project-description {
  height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 0 20px;
}

/* Раскрытие описания */
.project-description.expanded {
  height: auto;
  opacity: 1;
  transform: scaleY(1);
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .archive-container {
    padding: 20px;
  }

  .table-header {
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
  }

  .table-row {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
  }

  .project-description {
    font-size: 14px;
    padding: 5px 10px;
  }
}
