.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Контейнер для точек */
.grid-dots {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Контейнер для точки и подписи */
.dot-container {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  transition: left 2s ease-in-out, top 2s ease-in-out;
}

/* Общий стиль точек */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.project-dot .dot {
  background-color: orange;
}

.contact-dot .dot {
  background-color: white;
}

/* Подписи справа от точки */
.dot-label {
  font-size: 14px;
  color: var(--text-color);
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1.2;
  margin-left: 15px;
}

.sort-button {
  position: fixed;
  top: 15px;
  right: 40px;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.sort-button:hover {
  color: var(--accent-color);
}