/* Контейнер для точек */
.grid-dots {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* Стили для самих точек */
  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff851b;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
  }
  